@font-face {
    font-family: "iconfont";
    /* Project id 5127667 */
    src: url('//at.alicdn.com/t/c/font_5127667_ifhuqt1l6xe.woff2?t=1771409492492') format('woff2'),
        url('//at.alicdn.com/t/c/font_5127667_ifhuqt1l6xe.woff?t=1771409492492') format('woff'),
        url('//at.alicdn.com/t/c/font_5127667_ifhuqt1l6xe.ttf?t=1771409492492') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shoucang-yishoucang:before {
    content: "\e605";
}

.icon-xiazai1:before {
    content: "\e6a7";
}

.icon-xiangshang:before {
    content: "\e602";
}

.icon-xiangxia:before {
    content: "\e604";
}

.icon-yunshangchuan:before {
    content: "\e70c";
}

.icon-xiai:before {
    content: "\e600";
}

.icon-shizhongfill:before {
    content: "\e74e";
}

.icon-xiaoxi:before {
    content: "\e632";
}

.icon-tubiao-:before {
    content: "\e760";
}

.icon-wenjianjia-yinle-tianchong:before {
    content: "\e7bf";
}

.icon-fangjian:before {
    content: "\e636";
}

.icon-boke:before {
    content: "\e67a";
}

.icon-boke1:before {
    content: "\e603";
}

.icon-wangyiyun-copy:before {
    content: "\e601";
}